@model ContractViewModel

<div class="col">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div class="header-title d-flex justify-content-between align-items-center w-100">
                <h4 class="card-title">Contract Type</h4>
                <div class="d-flex justify-content-end">
                    <a class="btn  btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Add" onclick="ShowAddModal(null,false)">
                        <span class="btn-inner">
                            Add
                            <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="accordion" id="accordionExample">
                @foreach (var item in Model.contractTypes)
                {
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="@item.Id">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(item.Id)" aria-expanded="true" aria-controls="collapse@(item.Id)">
                                @item.Name
                            </button>
                        </h4>
                        <div id="collapse@(item.Id)" class="accordion-collapse collapse @(item.Id==1?"show":"")" aria-labelledby="@item.Id" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div>
                                    <p>
                                        @item.Description
                                    </p>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="flex align-items-center list-user-action">

                                            <a onclick="ShowAddModal(@System.Text.Json.JsonSerializer.Serialize(item),true)" class="btn btn-sm btn-icon btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" data-original-title="Edit" aria-label="Edit" data-bs-original-title="Edit">
                                                <span class="btn-inner">
                                                    <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M11.4925 2.78906H7.75349C4.67849 2.78906 2.75049 4.96606 2.75049 8.04806V16.3621C2.75049 19.4441 4.66949 21.6211 7.75349 21.6211H16.5775C19.6625 21.6211 21.5815 19.4441 21.5815 16.3621V12.3341" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.82812 10.921L16.3011 3.44799C17.2321 2.51799 18.7411 2.51799 19.6721 3.44799L20.8891 4.66499C21.8201 5.59599 21.8201 7.10599 20.8891 8.03599L13.3801 15.545C12.9731 15.952 12.4211 16.181 11.8451 16.181H8.09912L8.19312 12.401C8.20712 11.845 8.43412 11.315 8.82812 10.921Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        <path d="M15.1655 4.60254L19.7315 9.16854" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    </svg>
                                                </span>
                                            </a>
                                            <form id="fromDelete" method="post" class="d-inline" asp-area="Admin" asp-controller="ContractType" asp-action="Delete" asp-route-Id="@item.Id">


                                                <a class="btn btn-sm btn-icon btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete" onclick="Delete(this)">
                                                    <span class="btn-inner">
                                                        <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                                                            <path d="M19.3248 9.46826C19.3248 9.46826 18.7818 16.2033 18.4668 19.0403C18.3168 20.3953 17.4798 21.1893 16.1088 21.2143C13.4998 21.2613 10.8878 21.2643 8.27979 21.2093C6.96079 21.1823 6.13779 20.3783 5.99079 19.0473C5.67379 16.1853 5.13379 9.46826 5.13379 9.46826" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M20.708 6.23975H3.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M17.4406 6.23973C16.6556 6.23973 15.9796 5.68473 15.8256 4.91573L15.5826 3.69973C15.4326 3.13873 14.9246 2.75073 14.3456 2.75073H10.1126C9.53358 2.75073 9.02558 3.13873 8.87558 3.69973L8.63258 4.91573C8.47858 5.68473 7.80258 6.23973 7.01758 6.23973" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        </svg>
                                                    </span>
                                                </a>


                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
</div>










<div class="modal fade" id="modalcontracttype" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contract Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="frmleavetype" method="post" asp-controller="ContractType" asp-area="Admin" class="needs-validation" novalidate>
                <div class="modal-body">
                    <div class="mb-3">
                        <input hidden asp-for="@Model.contractTypeModel.Id" />
                        <label asp-for="@Model.contractTypeModel.Name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" asp-for="@Model.contractTypeModel.Name" required />
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                        <div class="invalid-tooltip">
                            Please Enter the Name
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.contractTypeModel.Description" class="col-form-label">Description:</label>
                        <textarea class="form-control" asp-for="@Model.contractTypeModel.Description" required></textarea>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                        <div class="invalid-tooltip">
                            Please Enter the Description
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="btnClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" id="EditSubmit" asp-action="Edit" class="btn btn-primary">Edit</button>
                    <button type="submit" id="AddSubmit" asp-action="Add" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>







@section Styles{
    <link href="~/assets/vendor/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
}






@section Scripts {
    <script src="~/assets/vendor/sweetalert2/sweetalert2.all.min.js"></script>

    <script>






        function Delete(e) {
            var form = e.parentElement;
            alert(form);
            swal.fire({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                icon: "warning",
                buttons: [
                    'No, cancel it!',
                    'Yes, I am sure!'
                ],
                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal.fire({
                        title: 'Shortlisted!',
                        text: 'Candidates are successfully shortlisted!',
                        icon: 'success'
                    }).then(function () {
                        form.submit(); // <--- submit form programmatically
                    });
                } else {
                    swal.fire("Cancelled", "Your imaginary file is safe :)", "error");
                }
            })


        }


        function ShowAddModal(objects, isedit = false) {

            let modal = document.getElementById('modalcontracttype');
            var myModal = new bootstrap.Modal(modal, {
                keyboard: false
            })

            modal.querySelectorAll('span.field-validation-error').forEach((obj, i, a) => a[i].innerHTML = '');

            try {

                if (objects != null) {



                    modal.querySelector('#contractTypeModel_Id').value = objects.Id;
                    modal.querySelector('#contractTypeModel_Name').value = objects.Name;
                    modal.querySelector('#contractTypeModel_Description').value = objects.Description;


                }
                else {


                    modal.querySelector('#contractTypeModel_Id').value = 0;
                    modal.querySelector('#contractTypeModel_Name').value = null;
                    modal.querySelector('#contractTypeModel_Description').value = null;

                }

                if (isedit) {
                    document.getElementById('EditSubmit').hidden = false;
                    document.getElementById('AddSubmit').hidden = true;
                    isEdit = true;
                }
                else {
                    document.getElementById('EditSubmit').hidden = true;
                    document.getElementById('AddSubmit').hidden = false;
                }
            }
            catch (e) {
                alert(e);
            }

            myModal.toggle();
        }








    </script>

        }